@use "../../assets/scss/variables" as vars;



.componentScrollableMap {
  will-change: transform;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: #f2efe9;

  div,
  svg,
  img {
    position: absolute;
  }

  #container {
    opacity: 0;
  }

  .text {
    fill: white;
    font-size: 235px;
    font-family: "Signika Negative", sans-serif;
    visibility: hidden;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
  }

  .car-container {
    border: 1px solid red;
    /*   position: relative; */
  }

  #c {
    position: static;
  }


}





